scipy
matplotlib
einops
rich
opencv-python
jaxtyping
pyyaml
tqdm
hf_xet
transformers
pybind11
pybind11_stubgen
rich
plyfile
wandb
jupyter-server
ipykernel
rerun_sdk
pypose
xformers
open3d
omegaconf
imageio
addict
evo
uniception
